.title {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.table {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

.tableHeaderTr {
    color: black;
    background-color: var(--secondary-color);
    border-bottom: 3px solid #333;
}

.tableHeaderTd {
    vertical-align: 'middle';
}

.tableHeaderTdName {
    vertical-align: 'middle';

    @media only screen and (--XS) {
        width: calc(100vw - 190px);
    }
}

.tableHeaderTdUploadDate {
    vertical-align: 'middle';

    @media only screen and (--XS) {
        width: 85px;
    }
}

.tableHeaderTdActions {
    vertical-align: 'middle';

    @media only screen and (--XS) {
        width: 56px;
    }
}

.tableHeaderTdInner {
    border-bottom: '1px dotted white';
}
