.logoutButton {
    background-color: white !important;
}

.logoutButton:hover {
    background-color: #e51c23 !important;
}

.logoutButton:focus {
    box-shadow: 0 0 0 0.25rem rgb(229 28 35 / 50%);
}

.iconoSignOut {
    margin-right: 10px !important;
    height: 21px !important; 
}

.iconoSignOut::before {
    top: 3px !important;
}