
* {
    box-sizing: border-box;
}

/* Bootstrap Overwrite */
@media only screen and (max-width: 992px) {
    .navLink { 
        text-align: center;
    }
    .placeCenter {
        justify-content: center;
    }
}