/* TODO: Download the fonts locally to the server and place inside static folder  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.logo {
    color: rgb(255, 112, 75);
    font-weight: 300;
    font-size: 50px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
    margin-left: 30px;
    @media only screen and (--XS) {
        margin-left: 0;
    }
}

.subText {
    font-size: 14px;
    margin-top: 6px;
    margin-left: 30px;
    color: #545454;
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Mansalva', cursive;

    @media only screen and (--XS) {
        margin-left: 0;
    }
}
