/* Table Skeleton for Uploads */
.tableHeader {
    height: 41.5px;
    border-bottom: 0.5rem solid white;
    background-color: #f4f4f4;
    margin-bottom: 2rem;
}

.tableHeader td {
    vertical-align: middle;
}

.tableHeader td div {
    background-color: #e4e4e4;
    width: 100px;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 20px, #ddd 20px);
    animation: shine-tableheader 1.6s infinite;
}

.rowBodyElement {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0);
    position: relative;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 20px, #ddd 20px);
    animation: shine-tablebody-text 1.6s infinite;
}

.rowBodyElement.rowBodyElementButtons {
    width: 48px;
    margin-left: 68px;
}

.rowBodyElement.rowBodyElementButtons > div {
    width: 48px;
    height: 40px;
    background-image: linear-gradient(90deg, #ddd 20px, #e8e8e8 60px, #ddd 120px);
    animation: shine-tablebody-buttons 1.6s infinite;
}

@keyframes shine-tableheader {
    0% {
        background-position-x: 0px;
    }
    40%,
    100% {
        background-position: 80px;
    }
}

@keyframes shine-tablebody-text {
    0% {
        background-position-x: 0px;
    }
    40%,
    100% {
        background-position: 162px;
    }
}

@keyframes shine-tablebody-buttons {
    0% {
        background-position-x: 0px;
    }
    40%,
    100% {
        background-position: 40px;
    }
}

/* @keyframes shine-lines {
    0% {
        background-position-x: 0px;
    }
    40%,
    100% {
        background-position: 180px;
        background-image: linear-gradient(90deg, #e8e8e8 0px, #ddd 40px, #ddd 140px);
    }
} */

/* Table Skeleton for Downloads */
